<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <h5>Adjust screen brightness using slider</h5>
 
  Current brightness level is {{brightnessVal}} / 1
   
    <ion-list>
   
      <ion-item>
        <ion-range 
        min="0" 
        max="1" 
        step="0.01"
        [(ngModel)]="brightnessVal"
        (ionChange)="adjustBrightness()"
        debounce="500"
        >
          <ion-icon size="small" slot="start" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
    
      <ion-item>
        <ion-button color="secondary">Get Brightness</ion-button>
        <ion-label>
          value now: {{brightnessVal}}
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
